ESB.Extensions/ESB.Extensions.Schemas.EsbBatchDb/Table.dbo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ns3="http://schemas.microsoft.com/Sql/2008/05/Types/Tables/dbo" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/Sql/2008/05/Types/Tables/dbo" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <fileNameHint xmlns="http://schemas.microsoft.com/servicemodel/adapters/metadata/xsd">Table.dbo</fileNameHint>
    </xs:appinfo>
  </xs:annotation>
  <xs:complexType name="BATCH">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PK" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="BatchId" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="DeterministicSequenceIds" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="IsComplete" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="IsPending" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="FirstSequenceId" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="NumberOfMessages" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BATCH" nillable="true" type="ns3:BATCH" />
  <xs:complexType name="ArrayOfBATCH">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BATCH" type="ns3:BATCH" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBATCH" nillable="true" type="ns3:ArrayOfBATCH" />
  <xs:complexType name="SEQUENCE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="PK" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="BatchId" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SequenceId" nillable="true">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TimeStamp" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SEQUENCE" nillable="true" type="ns3:SEQUENCE" />
  <xs:complexType name="ArrayOfSEQUENCE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SEQUENCE" type="ns3:SEQUENCE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSEQUENCE" nillable="true" type="ns3:ArrayOfSEQUENCE" />
</xs:schema>